## Recommendation System untuk Used Car Dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('used_car_data.csv')

In [3]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [4]:
df.isnull().any()

Name                 False
Location             False
Year                 False
Kilometers_Driven    False
Fuel_Type            False
Transmission         False
Owner_Type           False
Mileage               True
Engine                True
Power                 True
Seats                 True
Price                False
dtype: bool

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [6]:
data = df.copy()

In [7]:
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [8]:
a=[]
c =[]
for i in data['Name']:
    b = i.split(" ")
    a.append(b)
for j in a:
    c.append(j[0])

In [9]:
data['Merk'] = c

In [10]:
data1 = data.copy()

In [11]:
data1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Merk
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet

In [12]:
## Perumpamaan Pembagian Tahun Mobil

tah = pd.qcut(data["Year"], 3).values.categories
tah

IntervalIndex([(1997.999, 2012.0], (2012.0, 2015.0], (2015.0, 2019.0]],
              closed='right',
              dtype='interval[float64]')

### Jadi :
- untuk tahun dibawah 2012 masuk kategori : lama
- untuk tahun dibawah 2012 masuk kategori : sedang
- untuk tahun dibawah 2012 masuk kategori : baru

In [13]:
## Fungsi 

def tahun(x):
    if x < 2012:
        return 'lama'
    elif x > 2012 & x< 2015:
        return 'sedang'
    else:
        return 'baru'

In [14]:
data1['tahun']= data['Year'].apply(tahun)

In [15]:
data1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Merk,tahun
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,lama
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,sedang
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,lama
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,baru
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,sedang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti,sedang
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai,sedang
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra,baru
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti,sedang
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet,lama

In [16]:
data1['Year'] = data1['Year'].astype(str)

In [17]:
data1['Recom'] = data1.apply(lambda row:str(row['Merk']) + ' ' + str(row['Fuel_Type'])+ ' ' + str(row['Transmission'])+ ' ' + str(row['Owner_Type'])+ ' ' + str(row['tahun']), axis=1)

In [18]:
data1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Merk,tahun,Recom
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,lama,Maruti CNG Manual First lama
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,sedang,Hyundai Diesel Manual First sedang
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,lama,Honda Petrol Manual First lama
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,baru,Maruti Diesel Manual First baru
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,sedang,Audi Diesel Automatic Second sedang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti,sedang,Maruti Diesel Manual First sedang
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai,sedang,Hyundai Diesel Manual First sedang
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra,baru,Mahindra Diesel Manual Second baru
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti,sedang,Maruti Petrol Manual First sedang
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet,lama,Chevrolet Diesel Manual First lama

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
cv = CountVectorizer()
cm = cv.fit_transform(data1['Recom'])

# total kata unik di col B&C
print(cv.get_feature_names())

# matrix freq tiap kata di tiap data
print(cm.toarray())

['above', 'ambassador', 'audi', 'automatic', 'baru', 'bentley', 'benz', 'bmw', 'chevrolet', 'cng', 'datsun', 'diesel', 'electric', 'fiat', 'first', 'force', 'ford', 'fourth', 'honda', 'hyundai', 'isuzu', 'jaguar', 'jeep', 'lama', 'lamborghini', 'land', 'lpg', 'mahindra', 'manual', 'maruti', 'mercedes', 'mini', 'mitsubishi', 'nissan', 'petrol', 'porsche', 'renault', 'second', 'sedang', 'skoda', 'smart', 'tata', 'third', 'toyota', 'volkswagen', 'volvo']
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [21]:
cosScore = cosine_similarity(cm.toarray())
cosScore

array([[1. , 0.4, 0.6, ..., 0.2, 0.6, 0.6],
       [0.4, 1. , 0.4, ..., 0.4, 0.6, 0.6],
       [0.6, 0.4, 1. , ..., 0.2, 0.6, 0.6],
       ...,
       [0.2, 0.4, 0.2, ..., 1. , 0.2, 0.4],
       [0.6, 0.6, 0.6, ..., 0.2, 1. , 0.4],
       [0.6, 0.6, 0.6, ..., 0.4, 0.4, 1. ]])

In [22]:
### Apabila customer suka dengan mobil index ke 2 dengan beberapa feature yaitu 
## 1. Merk : Honda, 
## 2. Fuel_Type = Petrol
## 3. Transmision = Manual
## 4. Owner_Type = First
## 5. tahun = masuk kategori lama

Cust = 2

In [23]:
## Detail index ke = 2

data1.iloc[Cust]

Name                                   Honda Jazz V
Location                                    Chennai
Year                                           2011
Kilometers_Driven                             46000
Fuel_Type                                    Petrol
Transmission                                 Manual
Owner_Type                                    First
Mileage                                   18.2 kmpl
Engine                                      1199 CC
Power                                      88.7 bhp
Seats                                             5
Price                                           4.5
Merk                                          Honda
tahun                                          lama
Recom                Honda Petrol Manual First lama
Name: 2, dtype: object

In [24]:
## Pembuatan Recommendation System

data1

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Merk,tahun,Recom
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75,Maruti,lama,Maruti CNG Manual First lama
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50,Hyundai,sedang,Hyundai Diesel Manual First sedang
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50,Honda,lama,Honda Petrol Manual First lama
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00,Maruti,baru,Maruti Diesel Manual First baru
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74,Audi,sedang,Audi Diesel Automatic Second sedang
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75,Maruti,sedang,Maruti Diesel Manual First sedang
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00,Hyundai,sedang,Hyundai Diesel Manual First sedang
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90,Mahindra,baru,Mahindra Diesel Manual Second baru
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65,Maruti,sedang,Maruti Petrol Manual First sedang
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50,Chevrolet,lama,Chevrolet Diesel Manual First lama

In [25]:
mobil = list(enumerate(cosScore[Cust]))
mobil

[(0, 0.6),
 (1, 0.39999999999999997),
 (2, 0.9999999999999999),
 (3, 0.39999999999999997),
 (4, 0.0),
 (5, 0.39999999999999997),
 (6, 0.39999999999999997),
 (7, 0.19999999999999998),
 (8, 0.39999999999999997),
 (9, 0.19999999999999998),
 (10, 0.6),
 (11, 0.6),
 (12, 0.39999999999999997),
 (13, 0.19999999999999998),
 (14, 0.0),
 (15, 0.39999999999999997),
 (16, 0.6),
 (17, 0.39999999999999997),
 (18, 0.39999999999999997),
 (19, 0.18257418583505539),
 (20, 0.19999999999999998),
 (21, 0.19999999999999998),
 (22, 0.39999999999999997),
 (23, 0.7999999999999999),
 (24, 0.6),
 (25, 0.7999999999999999),
 (26, 0.39999999999999997),
 (27, 0.39999999999999997),
 (28, 0.7999999999999999),
 (29, 0.36514837167011077),
 (30, 0.39999999999999997),
 (31, 0.6),
 (32, 0.0),
 (33, 0.39999999999999997),
 (34, 0.39999999999999997),
 (35, 0.6),
 (36, 0.39999999999999997),
 (37, 0.6),
 (38, 0.18257418583505539),
 (39, 0.39999999999999997),
 (40, 0.6),
 (41, 0.6),
 (42, 0.39999999999999997),
 (43, 0.6),
 (44, 0.39999999999999997),
 (45, 0.39999999999999997),
 (46, 0.39999999999999997),
 (47, 0.6),
 (48, 0.39999999999999997),
 (49, 0.19999999999999998),
 (50, 0.19999999999999998),
 (51, 0.39999999999999997),
 (52, 0.39999999999999997),
 (53, 0.39999999999999997),
 (54, 0.39999999999999997),
 (55, 0.6),
 (56, 0.6),
 (57, 0.7999999999999999),
 (58, 0.39999999999999997),
 (59, 0.7999999999999999),
 (60, 0.39999999999999997),
 (61, 0.6),
 (62, 0.36514837167011077),
 (63, 0.36514837167011077),
 (64, 0.39999999999999997),
 (65, 0.19999999999999998),
 (66, 0.6),
 (67, 0.18257418583505539),
 (68, 0.39999999999999997),
 (69, 0.39999999999999997),
 (70, 0.6),
 (71, 0.39999999999999997),
 (72, 0.39999999999999997),
 (73, 0.39999999999999997),
 (74, 0.39999999999999997),
 (75, 0.0),
 (76, 0.6),
 (77, 0.6),
 (78, 0.39999999999999997),
 (79, 0.7999999999999999),
 (80, 0.39999999999999997),
 (81, 0.6),
 (82, 0.7999999999999999),
 (83, 0.39999999999999997),
 (84, 0.39999999999999997),
 (85, 0.9999999999999999),
 (86, 0.19999999999999998),
 (87, 0.7999999999999999),
 (88, 0.6),
 (89, 0.7999999999999999),
 (90, 0.7999999999999999),
 (91, 0.39999999999999997),
 (92, 0.19999999999999998),
 (93, 0.39999999999999997),
 (94, 0.39999999999999997),
 (95, 0.6),
 (96, 0.39999999999999997),
 (97, 0.6),
 (98, 0.6),
 (99, 0.7999999999999999),
 (100, 0.39999999999999997),
 (101, 0.6),
 (102, 0.6),
 (103, 0.39999999999999997),
 (104, 0.6),
 (105, 0.7999999999999999),
 (106, 0.6),
 (107, 0.19999999999999998),
 (108, 0.19999999999999998),
 (109, 0.19999999999999998),
 (110, 0.19999999999999998),
 (111, 0.6),
 (112, 0.6),
 (113, 0.19999999999999998),
 (114, 0.9999999999999999),
 (115, 0.39999999999999997),
 (116, 0.19999999999999998),
 (117, 0.39999999999999997),
 (118, 0.6),
 (119, 0.39999999999999997),
 (120, 0.6),
 (121, 0.0),
 (122, 0.39999999999999997),
 (123, 0.7999999999999999),
 (124, 0.39999999999999997),
 (125, 0.39999999999999997),
 (126, 0.5477225575051662),
 (127, 0.39999999999999997),
 (128, 0.7999999999999999),
 (129, 0.19999999999999998),
 (130, 0.6),
 (131, 0.19999999999999998),
 (132, 0.6),
 (133, 0.6),
 (134, 0.36514837167011077),
 (135, 0.39999999999999997),
 (136, 0.6),
 (137, 0.19999999999999998),
 (138, 0.6),
 (139, 0.7999999999999999),
 (140, 0.18257418583505539),
 (141, 0.6),
 (142, 0.6),
 (143, 0.6),
 (144, 0.39999999999999997),
 (145, 0.6),
 (146, 0.39999999999999997),
 (147, 0.6),
 (148, 0.39999999999999997),
 (149, 0.19999999999999998),
 (150, 0.19999999999999998),
 (151, 0.39999999999999997),
 (152, 0.5477225575051662),
 (153, 0.19999999999999998),
 (154, 0.19999999999999998),
 (155, 0.6),
 (156, 0.39999999999999997),
 (157, 0.6),
 (158, 0.7999999999999999),
 (159, 0.36514837167011077),
 (160, 0.6),
 (161, 0.39999999999999997),
 (162, 0.6),
 (163, 0.39999999999999997),
 (164, 0.39999999999999997),
 (165, 0.39999999999999997),
 (166, 0.19999999999999998),
 (167, 0.39999999999999997),
 (168, 0.19999999999999998),
 (169, 0.18257418583505539),
 (170, 0.6),
 (171, 0.6),
 (172, 0.18257418583505539),
 (173, 0.6),
 (174, 0.0),
 (175, 0.19999999999999998),
 (176, 0.0),
 (177, 0.39999999999999997),
 (178, 0.19999999999999998),
 (179, 0.39999999999999997),
 (180, 0.39999999999999997),
 (181, 0.39999999999999997),
 (182, 0.19999999999999998),
 (183, 0.7999999999999999),
 (184, 0.39999999999999997),
 (185, 0.39999999999999997),
 (186, 0.18257418583505539),
 (187, 0.6),
 (188, 0.39999999999999997),
 (189, 0.6),
 (190, 0.39999999999999997),
 (191, 0.19999999999999998),
 (192, 0.6),
 (193, 0.39999999999999997),
 (194, 0.9999999999999999),
 (195, 0.6),
 (196, 0.6),
 (197, 0.6),
 (198, 0.6),
 (199, 0.39999999999999997),
 (200, 0.19999999999999998),
 (201, 0.39999999999999997),
 (202, 0.6),
 (203, 0.7999999999999999),
 (204, 0.7999999999999999),
 (205, 0.19999999999999998),
 (206, 0.39999999999999997),
 (207, 0.39999999999999997),
 (208, 0.7999999999999999),
 (209, 0.36514837167011077),
 (210, 0.6),
 (211, 0.19999999999999998),
 (212, 0.39999999999999997),
 (213, 0.39999999999999997),
 (214, 0.39999999999999997),
 (215, 0.5477225575051662),
 (216, 0.19999999999999998),
 (217, 0.39999999999999997),
 (218, 0.39999999999999997),
 (219, 0.39999999999999997),
 (220, 0.6),
 (221, 0.39999999999999997),
 (222, 0.6),
 (223, 0.39999999999999997),
 (224, 0.18257418583505539),
 (225, 0.6),
 (226, 0.19999999999999998),
 (227, 0.39999999999999997),
 (228, 0.39999999999999997),
 (229, 0.39999999999999997),
 (230, 0.39999999999999997),
 (231, 0.39999999999999997),
 (232, 0.39999999999999997),
 (233, 0.39999999999999997),
 (234, 0.39999999999999997),
 (235, 0.19999999999999998),
 (236, 0.19999999999999998),
 (237, 0.9999999999999999),
 (238, 0.6),
 (239, 0.18257418583505539),
 (240, 0.39999999999999997),
 (241, 0.39999999999999997),
 (242, 0.39999999999999997),
 (243, 0.39999999999999997),
 (244, 0.39999999999999997),
 (245, 0.6),
 (246, 0.7999999999999999),
 (247, 0.19999999999999998),
 (248, 0.39999999999999997),
 (249, 0.39999999999999997),
 (250, 0.39999999999999997),
 (251, 0.6),
 (252, 0.19999999999999998),
 (253, 0.7999999999999999),
 (254, 0.7999999999999999),
 (255, 0.19999999999999998),
 (256, 0.39999999999999997),
 (257, 0.6),
 (258, 0.39999999999999997),
 (259, 0.6),
 (260, 0.39999999999999997),
 (261, 0.6),
 (262, 0.7999999999999999),
 (263, 0.7999999999999999),
 (264, 0.18257418583505539),
 (265, 0.18257418583505539),
 (266, 0.39999999999999997),
 (267, 0.39999999999999997),
 (268, 0.7999999999999999),
 (269, 0.39999999999999997),
 (270, 0.6),
 (271, 0.19999999999999998),
 (272, 0.6),
 (273, 0.39999999999999997),
 (274, 0.6),
 (275, 0.39999999999999997),
 (276, 0.19999999999999998),
 (277, 0.39999999999999997),
 (278, 0.6),
 (279, 0.39999999999999997),
 (280, 0.6),
 (281, 0.9999999999999999),
 (282, 0.19999999999999998),
 (283, 0.19999999999999998),
 (284, 0.6),
 (285, 0.7999999999999999),
 (286, 0.39999999999999997),
 (287, 0.39999999999999997),
 (288, 0.6),
 (289, 0.7999999999999999),
 (290, 0.39999999999999997),
 (291, 0.19999999999999998),
 (292, 0.7999999999999999),
 (293, 0.7999999999999999),
 (294, 0.39999999999999997),
 (295, 0.7999999999999999),
 (296, 0.18257418583505539),
 (297, 0.6),
 (298, 0.39999999999999997),
 (299, 0.19999999999999998),
 (300, 0.39999999999999997),
 (301, 0.6),
 (302, 0.7999999999999999),
 (303, 0.6),
 (304, 0.39999999999999997),
 (305, 0.19999999999999998),
 (306, 0.18257418583505539),
 (307, 0.6),
 (308, 0.6),
 (309, 0.39999999999999997),
 (310, 0.18257418583505539),
 (311, 0.19999999999999998),
 (312, 0.6),
 (313, 0.6),
 (314, 0.7999999999999999),
 (315, 0.39999999999999997),
 (316, 0.39999999999999997),
 (317, 0.6),
 (318, 0.39999999999999997),
 (319, 0.39999999999999997),
 (320, 0.6),
 (321, 0.7999999999999999),
 (322, 0.39999999999999997),
 (323, 0.6),
 (324, 0.9999999999999999),
 (325, 0.19999999999999998),
 (326, 0.39999999999999997),
 (327, 0.19999999999999998),
 (328, 0.6),
 (329, 0.39999999999999997),
 (330, 0.39999999999999997),
 (331, 0.6),
 (332, 0.39999999999999997),
 (333, 0.6),
 (334, 0.7999999999999999),
 (335, 0.7999999999999999),
 (336, 0.39999999999999997),
 (337, 0.6),
 (338, 0.39999999999999997),
 (339, 0.6),
 (340, 0.19999999999999998),
 (341, 0.6),
 (342, 0.6),
 (343, 0.39999999999999997),
 (344, 0.9999999999999999),
 (345, 0.19999999999999998),
 (346, 0.6),
 (347, 0.6),
 (348, 0.0),
 (349, 0.39999999999999997),
 (350, 0.39999999999999997),
 (351, 0.6),
 (352, 0.6),
 (353, 0.39999999999999997),
 (354, 0.6),
 (355, 0.19999999999999998),
 (356, 0.7999999999999999),
 (357, 0.39999999999999997),
 (358, 0.7999999999999999),
 (359, 0.39999999999999997),
 (360, 0.39999999999999997),
 (361, 0.6),
 (362, 0.39999999999999997),
 (363, 0.39999999999999997),
 (364, 0.7999999999999999),
 (365, 0.6),
 (366, 0.39999999999999997),
 (367, 0.6),
 (368, 0.6),
 (369, 0.19999999999999998),
 (370, 0.19999999999999998),
 (371, 0.39999999999999997),
 (372, 0.39999999999999997),
 (373, 0.19999999999999998),
 (374, 0.18257418583505539),
 (375, 0.6),
 (376, 0.19999999999999998),
 (377, 0.39999999999999997),
 (378, 0.36514837167011077),
 (379, 0.39999999999999997),
 (380, 0.6),
 (381, 0.39999999999999997),
 (382, 0.18257418583505539),
 (383, 0.18257418583505539),
 (384, 0.18257418583505539),
 (385, 0.7999999999999999),
 (386, 0.7999999999999999),
 (387, 0.9999999999999999),
 (388, 0.7999999999999999),
 (389, 0.39999999999999997),
 (390, 0.7999999999999999),
 (391, 0.39999999999999997),
 (392, 0.18257418583505539),
 (393, 0.6),
 (394, 0.6),
 (395, 0.6),
 (396, 0.39999999999999997),
 (397, 0.39999999999999997),
 (398, 0.19999999999999998),
 (399, 0.19999999999999998),
 (400, 0.18257418583505539),
 (401, 0.19999999999999998),
 (402, 0.7999999999999999),
 (403, 0.6),
 (404, 0.19999999999999998),
 (405, 0.6),
 (406, 0.19999999999999998),
 (407, 0.19999999999999998),
 (408, 0.6),
 (409, 0.19999999999999998),
 (410, 0.19999999999999998),
 (411, 0.18257418583505539),
 (412, 0.39999999999999997),
 (413, 0.19999999999999998),
 (414, 0.7999999999999999),
 (415, 0.19999999999999998),
 (416, 0.7999999999999999),
 (417, 0.6),
 (418, 0.36514837167011077),
 (419, 0.39999999999999997),
 (420, 0.6),
 (421, 0.7999999999999999),
 (422, 0.7999999999999999),
 (423, 0.39999999999999997),
 (424, 0.6),
 (425, 0.6),
 (426, 0.36514837167011077),
 (427, 0.39999999999999997),
 (428, 0.6),
 (429, 0.39999999999999997),
 (430, 0.6),
 (431, 0.39999999999999997),
 (432, 0.19999999999999998),
 (433, 0.6),
 (434, 0.39999999999999997),
 (435, 0.39999999999999997),
 (436, 0.6),
 (437, 0.0),
 (438, 0.7999999999999999),
 (439, 0.9999999999999999),
 (440, 0.39999999999999997),
 (441, 0.6),
 (442, 0.39999999999999997),
 (443, 0.6),
 (444, 0.6),
 (445, 0.39999999999999997),
 (446, 0.39999999999999997),
 (447, 0.6),
 (448, 0.39999999999999997),
 (449, 0.39999999999999997),
 (450, 0.6),
 (451, 0.0),
 (452, 0.6),
 (453, 0.6),
 (454, 0.39999999999999997),
 (455, 0.39999999999999997),
 (456, 0.39999999999999997),
 (457, 0.19999999999999998),
 (458, 0.19999999999999998),
 (459, 0.19999999999999998),
 (460, 0.6),
 (461, 0.39999999999999997),
 (462, 0.39999999999999997),
 (463, 0.39999999999999997),
 (464, 0.6),
 (465, 0.39999999999999997),
 (466, 0.39999999999999997),
 (467, 0.9999999999999999),
 (468, 0.6),
 (469, 0.39999999999999997),
 (470, 0.39999999999999997),
 (471, 0.39999999999999997),
 (472, 0.6),
 (473, 0.36514837167011077),
 (474, 0.36514837167011077),
 (475, 0.39999999999999997),
 (476, 0.6),
 (477, 0.6),
 (478, 0.6),
 (479, 0.19999999999999998),
 (480, 0.0),
 (481, 0.39999999999999997),
 (482, 0.19999999999999998),
 (483, 0.39999999999999997),
 (484, 0.39999999999999997),
 (485, 0.6),
 (486, 0.39999999999999997),
 (487, 0.39999999999999997),
 (488, 0.6),
 (489, 0.18257418583505539),
 (490, 0.7999999999999999),
 (491, 0.19999999999999998),
 (492, 0.6),
 (493, 0.18257418583505539),
 (494, 0.6),
 (495, 0.39999999999999997),
 (496, 0.7999999999999999),
 (497, 0.7999999999999999),
 (498, 0.6),
 (499, 0.6),
 (500, 0.7999999999999999),
 (501, 0.39999999999999997),
 (502, 0.6),
 (503, 0.19999999999999998),
 (504, 0.39999999999999997),
 (505, 0.39999999999999997),
 (506, 0.36514837167011077),
 (507, 0.6),
 (508, 0.39999999999999997),
 (509, 0.19999999999999998),
 (510, 0.39999999999999997),
 (511, 0.7999999999999999),
 (512, 0.6),
 (513, 0.39999999999999997),
 (514, 0.39999999999999997),
 (515, 0.39999999999999997),
 (516, 0.39999999999999997),
 (517, 0.6),
 (518, 0.6),
 (519, 0.6),
 (520, 0.6),
 (521, 0.19999999999999998),
 (522, 0.6),
 (523, 0.39999999999999997),
 (524, 0.19999999999999998),
 (525, 0.18257418583505539),
 (526, 0.6),
 (527, 0.6),
 (528, 0.6),
 (529, 0.6),
 (530, 0.6),
 (531, 0.6),
 (532, 0.6),
 (533, 0.6),
 (534, 0.39999999999999997),
 (535, 0.6),
 (536, 0.36514837167011077),
 (537, 0.6),
 (538, 0.39999999999999997),
 (539, 0.6),
 (540, 0.39999999999999997),
 (541, 0.7999999999999999),
 (542, 0.39999999999999997),
 (543, 0.19999999999999998),
 (544, 0.36514837167011077),
 (545, 0.6),
 (546, 0.39999999999999997),
 (547, 0.0),
 (548, 0.39999999999999997),
 (549, 0.19999999999999998),
 (550, 0.9999999999999999),
 (551, 0.39999999999999997),
 (552, 0.6),
 (553, 0.39999999999999997),
 (554, 0.9999999999999999),
 (555, 0.19999999999999998),
 (556, 0.39999999999999997),
 (557, 0.39999999999999997),
 (558, 0.39999999999999997),
 (559, 0.39999999999999997),
 (560, 0.39999999999999997),
 (561, 0.6),
 (562, 0.19999999999999998),
 (563, 0.19999999999999998),
 (564, 0.6),
 (565, 0.6),
 (566, 0.19999999999999998),
 (567, 0.39999999999999997),
 (568, 0.39999999999999997),
 (569, 0.7999999999999999),
 (570, 0.9999999999999999),
 (571, 0.6),
 (572, 0.19999999999999998),
 (573, 0.19999999999999998),
 (574, 0.39999999999999997),
 (575, 0.7999999999999999),
 (576, 0.19999999999999998),
 (577, 0.6),
 (578, 0.39999999999999997),
 (579, 0.39999999999999997),
 (580, 0.6),
 (581, 0.6),
 (582, 0.6),
 (583, 0.19999999999999998),
 (584, 0.19999999999999998),
 (585, 0.19999999999999998),
 (586, 0.19999999999999998),
 (587, 0.39999999999999997),
 (588, 0.6),
 (589, 0.36514837167011077),
 (590, 0.39999999999999997),
 (591, 0.19999999999999998),
 (592, 0.19999999999999998),
 (593, 0.19999999999999998),
 (594, 0.6),
 (595, 0.39999999999999997),
 (596, 0.39999999999999997),
 (597, 0.39999999999999997),
 (598, 0.19999999999999998),
 (599, 0.19999999999999998),
 (600, 0.19999999999999998),
 (601, 0.39999999999999997),
 (602, 0.7999999999999999),
 (603, 0.18257418583505539),
 (604, 0.19999999999999998),
 (605, 0.39999999999999997),
 (606, 0.39999999999999997),
 (607, 0.19999999999999998),
 (608, 0.19999999999999998),
 (609, 0.19999999999999998),
 (610, 0.39999999999999997),
 (611, 0.19999999999999998),
 (612, 0.7999999999999999),
 (613, 0.6),
 (614, 0.6),
 (615, 0.39999999999999997),
 (616, 0.6),
 (617, 0.39999999999999997),
 (618, 0.39999999999999997),
 (619, 0.19999999999999998),
 (620, 0.6),
 (621, 0.9999999999999999),
 (622, 0.7999999999999999),
 (623, 0.6),
 (624, 0.19999999999999998),
 (625, 0.6),
 (626, 0.39999999999999997),
 (627, 0.39999999999999997),
 (628, 0.39999999999999997),
 (629, 0.6),
 (630, 0.7999999999999999),
 (631, 0.6),
 (632, 0.19999999999999998),
 (633, 0.19999999999999998),
 (634, 0.39999999999999997),
 (635, 0.39999999999999997),
 (636, 0.6),
 (637, 0.39999999999999997),
 (638, 0.6),
 (639, 0.6),
 (640, 0.19999999999999998),
 (641, 0.7999999999999999),
 (642, 0.6),
 (643, 0.39999999999999997),
 (644, 0.19999999999999998),
 (645, 0.5477225575051662),
 (646, 0.6),
 (647, 0.7999999999999999),
 (648, 0.39999999999999997),
 (649, 0.39999999999999997),
 (650, 0.39999999999999997),
 (651, 0.18257418583505539),
 (652, 0.6),
 (653, 0.19999999999999998),
 (654, 0.7999999999999999),
 (655, 0.39999999999999997),
 (656, 0.6),
 (657, 0.6),
 (658, 0.7999999999999999),
 (659, 0.19999999999999998),
 (660, 0.39999999999999997),
 (661, 0.39999999999999997),
 (662, 0.39999999999999997),
 (663, 0.39999999999999997),
 (664, 0.39999999999999997),
 (665, 0.19999999999999998),
 (666, 0.19999999999999998),
 (667, 0.6),
 (668, 0.39999999999999997),
 (669, 0.7999999999999999),
 (670, 0.6),
 (671, 0.39999999999999997),
 (672, 0.39999999999999997),
 (673, 0.39999999999999997),
 (674, 0.39999999999999997),
 (675, 0.36514837167011077),
 (676, 0.7999999999999999),
 (677, 0.7999999999999999),
 (678, 0.39999999999999997),
 (679, 0.39999999999999997),
 (680, 0.6),
 (681, 0.39999999999999997),
 (682, 0.7999999999999999),
 (683, 0.39999999999999997),
 (684, 0.39999999999999997),
 (685, 0.39999999999999997),
 (686, 0.7999999999999999),
 (687, 0.7999999999999999),
 (688, 0.39999999999999997),
 (689, 0.6),
 (690, 0.39999999999999997),
 (691, 0.6),
 (692, 0.7999999999999999),
 (693, 0.36514837167011077),
 (694, 0.19999999999999998),
 (695, 0.39999999999999997),
 (696, 0.19999999999999998),
 (697, 0.39999999999999997),
 (698, 0.39999999999999997),
 (699, 0.6),
 (700, 0.6),
 (701, 0.39999999999999997),
 (702, 0.6),
 (703, 0.19999999999999998),
 (704, 0.19999999999999998),
 (705, 0.6),
 (706, 0.18257418583505539),
 (707, 0.18257418583505539),
 (708, 0.6),
 (709, 0.9999999999999999),
 (710, 0.39999999999999997),
 (711, 0.18257418583505539),
 (712, 0.19999999999999998),
 (713, 0.6),
 (714, 0.39999999999999997),
 (715, 0.19999999999999998),
 (716, 0.6),
 (717, 0.0),
 (718, 0.19999999999999998),
 (719, 0.0),
 (720, 0.39999999999999997),
 (721, 0.6),
 (722, 0.39999999999999997),
 (723, 0.19999999999999998),
 (724, 0.6),
 (725, 0.39999999999999997),
 (726, 0.39999999999999997),
 (727, 0.7999999999999999),
 (728, 0.39999999999999997),
 (729, 0.7999999999999999),
 (730, 0.19999999999999998),
 (731, 0.39999999999999997),
 (732, 0.6),
 (733, 0.6),
 (734, 0.39999999999999997),
 (735, 0.39999999999999997),
 (736, 0.39999999999999997),
 (737, 0.6),
 (738, 0.39999999999999997),
 (739, 0.39999999999999997),
 (740, 0.39999999999999997),
 (741, 0.39999999999999997),
 (742, 0.19999999999999998),
 (743, 0.39999999999999997),
 (744, 0.6),
 (745, 0.39999999999999997),
 (746, 0.0),
 (747, 0.6),
 (748, 0.7999999999999999),
 (749, 0.19999999999999998),
 (750, 0.6),
 (751, 0.19999999999999998),
 (752, 0.18257418583505539),
 (753, 0.39999999999999997),
 (754, 0.39999999999999997),
 (755, 0.36514837167011077),
 (756, 0.7999999999999999),
 (757, 0.6),
 (758, 0.6),
 (759, 0.6),
 (760, 0.6),
 (761, 0.7999999999999999),
 (762, 0.39999999999999997),
 (763, 0.7999999999999999),
 (764, 0.6),
 (765, 0.7999999999999999),
 (766, 0.19999999999999998),
 (767, 0.39999999999999997),
 (768, 0.6),
 (769, 0.39999999999999997),
 (770, 0.39999999999999997),
 (771, 0.39999999999999997),
 (772, 0.18257418583505539),
 (773, 0.6),
 (774, 0.39999999999999997),
 (775, 0.19999999999999998),
 (776, 0.19999999999999998),
 (777, 0.39999999999999997),
 (778, 0.19999999999999998),
 (779, 0.7999999999999999),
 (780, 0.39999999999999997),
 (781, 0.39999999999999997),
 (782, 0.39999999999999997),
 (783, 0.18257418583505539),
 (784, 0.6),
 (785, 0.7999999999999999),
 (786, 0.18257418583505539),
 (787, 0.6),
 (788, 0.0),
 (789, 0.39999999999999997),
 (790, 0.6),
 (791, 0.6),
 (792, 0.39999999999999997),
 (793, 0.39999999999999997),
 (794, 0.6),
 (795, 0.39999999999999997),
 (796, 0.19999999999999998),
 (797, 0.39999999999999997),
 (798, 0.36514837167011077),
 (799, 0.6),
 (800, 0.6),
 (801, 0.39999999999999997),
 (802, 0.18257418583505539),
 (803, 0.7999999999999999),
 (804, 0.39999999999999997),
 (805, 0.6),
 (806, 0.19999999999999998),
 (807, 0.6),
 (808, 0.7999999999999999),
 (809, 0.6),
 (810, 0.6),
 (811, 0.6),
 (812, 0.39999999999999997),
 (813, 0.6),
 (814, 0.39999999999999997),
 (815, 0.6),
 (816, 0.19999999999999998),
 (817, 0.39999999999999997),
 (818, 0.19999999999999998),
 (819, 0.19999999999999998),
 (820, 0.7999999999999999),
 (821, 0.18257418583505539),
 (822, 0.19999999999999998),
 (823, 0.6),
 (824, 0.6),
 (825, 0.39999999999999997),
 (826, 0.39999999999999997),
 (827, 0.6),
 (828, 0.6),
 (829, 0.6),
 (830, 0.39999999999999997),
 (831, 0.39999999999999997),

In [26]:
mobil = sorted(mobil, key=lambda x: x[1], reverse=True)
mobil

[(2, 0.9999999999999999),
 (85, 0.9999999999999999),
 (114, 0.9999999999999999),
 (194, 0.9999999999999999),
 (237, 0.9999999999999999),
 (281, 0.9999999999999999),
 (324, 0.9999999999999999),
 (344, 0.9999999999999999),
 (387, 0.9999999999999999),
 (439, 0.9999999999999999),
 (467, 0.9999999999999999),
 (550, 0.9999999999999999),
 (554, 0.9999999999999999),
 (570, 0.9999999999999999),
 (621, 0.9999999999999999),
 (709, 0.9999999999999999),
 (978, 0.9999999999999999),
 (1174, 0.9999999999999999),
 (1212, 0.9999999999999999),
 (1216, 0.9999999999999999),
 (1277, 0.9999999999999999),
 (1278, 0.9999999999999999),
 (1279, 0.9999999999999999),
 (1294, 0.9999999999999999),
 (1318, 0.9999999999999999),
 (1442, 0.9999999999999999),
 (1492, 0.9999999999999999),
 (1751, 0.9999999999999999),
 (1845, 0.9999999999999999),
 (1862, 0.9999999999999999),
 (1948, 0.9999999999999999),
 (1996, 0.9999999999999999),
 (2012, 0.9999999999999999),
 (2088, 0.9999999999999999),
 (2170, 0.9999999999999999),
 (2230, 0.9999999999999999),
 (2303, 0.9999999999999999),
 (2439, 0.9999999999999999),
 (2498, 0.9999999999999999),
 (2590, 0.9999999999999999),
 (2672, 0.9999999999999999),
 (2740, 0.9999999999999999),
 (3000, 0.9999999999999999),
 (3145, 0.9999999999999999),
 (3179, 0.9999999999999999),
 (3237, 0.9999999999999999),
 (3305, 0.9999999999999999),
 (3542, 0.9999999999999999),
 (3571, 0.9999999999999999),
 (3611, 0.9999999999999999),
 (3638, 0.9999999999999999),
 (3673, 0.9999999999999999),
 (3709, 0.9999999999999999),
 (3754, 0.9999999999999999),
 (3885, 0.9999999999999999),
 (3903, 0.9999999999999999),
 (3962, 0.9999999999999999),
 (4048, 0.9999999999999999),
 (4142, 0.9999999999999999),
 (4326, 0.9999999999999999),
 (4330, 0.9999999999999999),
 (4448, 0.9999999999999999),
 (4531, 0.9999999999999999),
 (4535, 0.9999999999999999),
 (4589, 0.9999999999999999),
 (4593, 0.9999999999999999),
 (4604, 0.9999999999999999),
 (4642, 0.9999999999999999),
 (4679, 0.9999999999999999),
 (4718, 0.9999999999999999),
 (4875, 0.9999999999999999),
 (4996, 0.9999999999999999),
 (4999, 0.9999999999999999),
 (5034, 0.9999999999999999),
 (5155, 0.9999999999999999),
 (5355, 0.9999999999999999),
 (5356, 0.9999999999999999),
 (5367, 0.9999999999999999),
 (5452, 0.9999999999999999),
 (5501, 0.9999999999999999),
 (5563, 0.9999999999999999),
 (5630, 0.9999999999999999),
 (5678, 0.9999999999999999),
 (5818, 0.9999999999999999),
 (23, 0.7999999999999999),
 (25, 0.7999999999999999),
 (28, 0.7999999999999999),
 (57, 0.7999999999999999),
 (59, 0.7999999999999999),
 (79, 0.7999999999999999),
 (82, 0.7999999999999999),
 (87, 0.7999999999999999),
 (89, 0.7999999999999999),
 (90, 0.7999999999999999),
 (99, 0.7999999999999999),
 (105, 0.7999999999999999),
 (123, 0.7999999999999999),
 (128, 0.7999999999999999),
 (139, 0.7999999999999999),
 (158, 0.7999999999999999),
 (183, 0.7999999999999999),
 (203, 0.7999999999999999),
 (204, 0.7999999999999999),
 (208, 0.7999999999999999),
 (246, 0.7999999999999999),
 (253, 0.7999999999999999),
 (254, 0.7999999999999999),
 (262, 0.7999999999999999),
 (263, 0.7999999999999999),
 (268, 0.7999999999999999),
 (285, 0.7999999999999999),
 (289, 0.7999999999999999),
 (292, 0.7999999999999999),
 (293, 0.7999999999999999),
 (295, 0.7999999999999999),
 (302, 0.7999999999999999),
 (314, 0.7999999999999999),
 (321, 0.7999999999999999),
 (334, 0.7999999999999999),
 (335, 0.7999999999999999),
 (356, 0.7999999999999999),
 (358, 0.7999999999999999),
 (364, 0.7999999999999999),
 (385, 0.7999999999999999),
 (386, 0.7999999999999999),
 (388, 0.7999999999999999),
 (390, 0.7999999999999999),
 (402, 0.7999999999999999),
 (414, 0.7999999999999999),
 (416, 0.7999999999999999),
 (421, 0.7999999999999999),
 (422, 0.7999999999999999),
 (438, 0.7999999999999999),
 (490, 0.7999999999999999),
 (496, 0.7999999999999999),
 (497, 0.7999999999999999),
 (500, 0.7999999999999999),
 (511, 0.7999999999999999),
 (541, 0.7999999999999999),
 (569, 0.7999999999999999),
 (575, 0.7999999999999999),
 (602, 0.7999999999999999),
 (612, 0.7999999999999999),
 (622, 0.7999999999999999),
 (630, 0.7999999999999999),
 (641, 0.7999999999999999),
 (647, 0.7999999999999999),
 (654, 0.7999999999999999),
 (658, 0.7999999999999999),
 (669, 0.7999999999999999),
 (676, 0.7999999999999999),
 (677, 0.7999999999999999),
 (682, 0.7999999999999999),
 (686, 0.7999999999999999),
 (687, 0.7999999999999999),
 (692, 0.7999999999999999),
 (727, 0.7999999999999999),
 (729, 0.7999999999999999),
 (748, 0.7999999999999999),
 (756, 0.7999999999999999),
 (761, 0.7999999999999999),
 (763, 0.7999999999999999),
 (765, 0.7999999999999999),
 (779, 0.7999999999999999),
 (785, 0.7999999999999999),
 (803, 0.7999999999999999),
 (808, 0.7999999999999999),
 (820, 0.7999999999999999),
 (865, 0.7999999999999999),
 (871, 0.7999999999999999),
 (872, 0.7999999999999999),
 (884, 0.7999999999999999),
 (898, 0.7999999999999999),
 (926, 0.7999999999999999),
 (928, 0.7999999999999999),
 (933, 0.7999999999999999),
 (985, 0.7999999999999999),
 (996, 0.7999999999999999),
 (1000, 0.7999999999999999),
 (1014, 0.7999999999999999),
 (1019, 0.7999999999999999),
 (1022, 0.7999999999999999),
 (1024, 0.7999999999999999),
 (1049, 0.7999999999999999),
 (1059, 0.7999999999999999),
 (1064, 0.7999999999999999),
 (1075, 0.7999999999999999),
 (1100, 0.7999999999999999),
 (1107, 0.7999999999999999),
 (1149, 0.7999999999999999),
 (1153, 0.7999999999999999),
 (1163, 0.7999999999999999),
 (1165, 0.7999999999999999),
 (1167, 0.7999999999999999),
 (1170, 0.7999999999999999),
 (1171, 0.7999999999999999),
 (1183, 0.7999999999999999),
 (1190, 0.7999999999999999),
 (1205, 0.7999999999999999),
 (1208, 0.7999999999999999),
 (1214, 0.7999999999999999),
 (1217, 0.7999999999999999),
 (1225, 0.7999999999999999),
 (1234, 0.7999999999999999),
 (1253, 0.7999999999999999),
 (1254, 0.7999999999999999),
 (1263, 0.7999999999999999),
 (1276, 0.7999999999999999),
 (1280, 0.7999999999999999),
 (1283, 0.7999999999999999),
 (1284, 0.7999999999999999),
 (1287, 0.7999999999999999),
 (1315, 0.7999999999999999),
 (1321, 0.7999999999999999),
 (1337, 0.7999999999999999),
 (1340, 0.7999999999999999),
 (1345, 0.7999999999999999),
 (1346, 0.7999999999999999),
 (1348, 0.7999999999999999),
 (1350, 0.7999999999999999),
 (1354, 0.7999999999999999),
 (1374, 0.7999999999999999),
 (1382, 0.7999999999999999),
 (1385, 0.7999999999999999),
 (1398, 0.7999999999999999),
 (1401, 0.7999999999999999),
 (1402, 0.7999999999999999),
 (1416, 0.7999999999999999),
 (1433, 0.7999999999999999),
 (1455, 0.7999999999999999),
 (1456, 0.7999999999999999),
 (1460, 0.7999999999999999),
 (1463, 0.7999999999999999),
 (1470, 0.7999999999999999),
 (1499, 0.7999999999999999),
 (1517, 0.7999999999999999),
 (1518, 0.7999999999999999),
 (1522, 0.7999999999999999),
 (1534, 0.7999999999999999),
 (1551, 0.7999999999999999),
 (1555, 0.7999999999999999),
 (1563, 0.7999999999999999),
 (1567, 0.7999999999999999),
 (1569, 0.7999999999999999),
 (1571, 0.7999999999999999),
 (1587, 0.7999999999999999),
 (1590, 0.7999999999999999),
 (1600, 0.7999999999999999),
 (1601, 0.7999999999999999),
 (1602, 0.7999999999999999),
 (1615, 0.7999999999999999),
 (1619, 0.7999999999999999),
 (1632, 0.7999999999999999),
 (1643, 0.7999999999999999),
 (1650, 0.7999999999999999),
 (1660, 0.7999999999999999),
 (1664, 0.7999999999999999),
 (1675, 0.7999999999999999),
 (1680, 0.7999999999999999),
 (1685, 0.7999999999999999),
 (1697, 0.7999999999999999),
 (1711, 0.7999999999999999),
 (1728, 0.7999999999999999),
 (1743, 0.7999999999999999),
 (1745, 0.7999999999999999),
 (1749, 0.7999999999999999),
 (1758, 0.7999999999999999),
 (1773, 0.7999999999999999),
 (1775, 0.7999999999999999),
 (1777, 0.7999999999999999),
 (1787, 0.7999999999999999),
 (1790, 0.7999999999999999),
 (1802, 0.7999999999999999),
 (1811, 0.7999999999999999),
 (1813, 0.7999999999999999),
 (1859, 0.7999999999999999),
 (1883, 0.7999999999999999),
 (1884, 0.7999999999999999),
 (1889, 0.7999999999999999),
 (1890, 0.7999999999999999),
 (1898, 0.7999999999999999),
 (1910, 0.7999999999999999),
 (1917, 0.7999999999999999),
 (1937, 0.7999999999999999),
 (1960, 0.7999999999999999),
 (1964, 0.7999999999999999),
 (1969, 0.7999999999999999),
 (1982, 0.7999999999999999),
 (1993, 0.7999999999999999),
 (2000, 0.7999999999999999),
 (2028, 0.7999999999999999),
 (2039, 0.7999999999999999),
 (2051, 0.7999999999999999),
 (2063, 0.7999999999999999),
 (2065, 0.7999999999999999),
 (2068, 0.7999999999999999),
 (2074, 0.7999999999999999),
 (2077, 0.7999999999999999),
 (2085, 0.7999999999999999),
 (2096, 0.7999999999999999),
 (2099, 0.7999999999999999),
 (2115, 0.7999999999999999),
 (2119, 0.7999999999999999),
 (2122, 0.7999999999999999),
 (2125, 0.7999999999999999),
 (2131, 0.7999999999999999),
 (2166, 0.7999999999999999),
 (2167, 0.7999999999999999),
 (2181, 0.7999999999999999),
 (2203, 0.7999999999999999),
 (2221, 0.7999999999999999),
 (2222, 0.7999999999999999),
 (2232, 0.7999999999999999),
 (2238, 0.7999999999999999),
 (2249, 0.7999999999999999),
 (2265, 0.7999999999999999),
 (2285, 0.7999999999999999),
 (2294, 0.7999999999999999),
 (2314, 0.7999999999999999),
 (2374, 0.7999999999999999),
 (2394, 0.7999999999999999),
 (2399, 0.7999999999999999),
 (2407, 0.7999999999999999),
 (2415, 0.7999999999999999),
 (2419, 0.7999999999999999),
 (2421, 0.7999999999999999),
 (2426, 0.7999999999999999),
 (2441, 0.7999999999999999),
 (2458, 0.7999999999999999),
 (2481, 0.7999999999999999),
 (2491, 0.7999999999999999),
 (2494, 0.7999999999999999),
 (2502, 0.7999999999999999),
 (2514, 0.7999999999999999),
 (2525, 0.7999999999999999),
 (2538, 0.7999999999999999),
 (2548, 0.7999999999999999),
 (2577, 0.7999999999999999),
 (2578, 0.7999999999999999),
 (2579, 0.7999999999999999),
 (2596, 0.7999999999999999),
 (2597, 0.7999999999999999),
 (2600, 0.7999999999999999),
 (2605, 0.7999999999999999),
 (2610, 0.7999999999999999),
 (2625, 0.7999999999999999),
 (2633, 0.7999999999999999),
 (2635, 0.7999999999999999),
 (2648, 0.7999999999999999),
 (2655, 0.7999999999999999),
 (2677, 0.7999999999999999),
 (2678, 0.7999999999999999),
 (2679, 0.7999999999999999),
 (2684, 0.7999999999999999),
 (2705, 0.7999999999999999),
 (2709, 0.7999999999999999),
 (2720, 0.7999999999999999),
 (2723, 0.7999999999999999),
 (2729, 0.7999999999999999),
 (2737, 0.7999999999999999),
 (2746, 0.7999999999999999),
 (2749, 0.7999999999999999),
 (2755, 0.7999999999999999),
 (2772, 0.7999999999999999),
 (2773, 0.7999999999999999),
 (2775, 0.7999999999999999),
 (2777, 0.7999999999999999),
 (2780, 0.7999999999999999),
 (2781, 0.7999999999999999),
 (2785, 0.7999999999999999),
 (2820, 0.7999999999999999),
 (2870, 0.7999999999999999),
 (2886, 0.7999999999999999),
 (2909, 0.7999999999999999),
 (2934, 0.7999999999999999),
 (2968, 0.7999999999999999),
 (2980, 0.7999999999999999),
 (2983, 0.7999999999999999),
 (2991, 0.7999999999999999),
 (2992, 0.7999999999999999),
 (2997, 0.7999999999999999),
 (2999, 0.7999999999999999),
 (3002, 0.7999999999999999),
 (3033, 0.7999999999999999),
 (3035, 0.7999999999999999),
 (3042, 0.7999999999999999),
 (3044, 0.7999999999999999),
 (3055, 0.7999999999999999),
 (3069, 0.7999999999999999),
 (3089, 0.7999999999999999),
 (3092, 0.7999999999999999),
 (3099, 0.7999999999999999),
 (3105, 0.7999999999999999),
 (3117, 0.7999999999999999),
 (3120, 0.7999999999999999),
 (3121, 0.7999999999999999),
 (3123, 0.7999999999999999),
 (3136, 0.7999999999999999),
 (3142, 0.7999999999999999),
 (3143, 0.7999999999999999),
 (3178, 0.7999999999999999),
 (3201, 0.7999999999999999),
 (3209, 0.7999999999999999),
 (3215, 0.7999999999999999),
 (3216, 0.7999999999999999),
 (3219, 0.7999999999999999),
 (3223, 0.7999999999999999),
 (3228, 0.7999999999999999),
 (3246, 0.7999999999999999),
 (3248, 0.7999999999999999),
 (3249, 0.7999999999999999),
 (3256, 0.7999999999999999),
 (3276, 0.7999999999999999),
 (3296, 0.7999999999999999),
 (3297, 0.7999999999999999),
 (3303, 0.7999999999999999),
 (3310, 0.7999999999999999),
 (3320, 0.7999999999999999),
 (3354, 0.7999999999999999),
 (3359, 0.7999999999999999),
 (3372, 0.7999999999999999),
 (3373, 0.7999999999999999),
 (3401, 0.7999999999999999),
 (3422, 0.7999999999999999),
 (3426, 0.7999999999999999),
 (3435, 0.7999999999999999),
 (3436, 0.7999999999999999),
 (3437, 0.7999999999999999),
 (3448, 0.7999999999999999),
 (3450, 0.7999999999999999),
 (3459, 0.7999999999999999),
 (3460, 0.7999999999999999),
 (3462, 0.7999999999999999),
 (3465, 0.7999999999999999),
 (3473, 0.7999999999999999),
 (3490, 0.7999999999999999),
 (3495, 0.7999999999999999),
 (3505, 0.7999999999999999),
 (3508, 0.7999999999999999),
 (3512, 0.7999999999999999),
 (3516, 0.7999999999999999),
 (3530, 0.7999999999999999),
 (3534, 0.7999999999999999),
 (3536, 0.7999999999999999),
 (3537, 0.7999999999999999),
 (3551, 0.7999999999999999),
 (3560, 0.7999999999999999),
 (3568, 0.7999999999999999),
 (3575, 0.7999999999999999),
 (3579, 0.7999999999999999),
 (3592, 0.7999999999999999),
 (3594, 0.7999999999999999),
 (3599, 0.7999999999999999),
 (3600, 0.7999999999999999),
 (3602, 0.7999999999999999),
 (3606, 0.7999999999999999),
 (3609, 0.7999999999999999),
 (3612, 0.7999999999999999),
 (3619, 0.7999999999999999),
 (3623, 0.7999999999999999),
 (3627, 0.7999999999999999),
 (3645, 0.7999999999999999),
 (3652, 0.7999999999999999),
 (3660, 0.7999999999999999),
 (3668, 0.7999999999999999),
 (3669, 0.7999999999999999),
 (3680, 0.7999999999999999),
 (3684, 0.7999999999999999),
 (3689, 0.7999999999999999),
 (3699, 0.7999999999999999),
 (3716, 0.7999999999999999),
 (3721, 0.7999999999999999),
 (3733, 0.7999999999999999),
 (3740, 0.7999999999999999),
 (3750, 0.7999999999999999),
 (3751, 0.7999999999999999),
 (3790, 0.7999999999999999),
 (3803, 0.7999999999999999),
 (3806, 0.7999999999999999),
 (3815, 0.7999999999999999),
 (3820, 0.7999999999999999),
 (3821, 0.7999999999999999),
 (3826, 0.7999999999999999),
 (3835, 0.7999999999999999),
 (3843, 0.7999999999999999),
 (3846, 0.7999999999999999),
 (3853, 0.7999999999999999),
 (3870, 0.7999999999999999),
 (3872, 0.7999999999999999),
 (3879, 0.7999999999999999),
 (3880, 0.7999999999999999),
 (3888, 0.7999999999999999),
 (3893, 0.7999999999999999),
 (3908, 0.7999999999999999),
 (3915, 0.7999999999999999),
 (3923, 0.7999999999999999),
 (3931, 0.7999999999999999),
 (3938, 0.7999999999999999),
 (3952, 0.7999999999999999),
 (3954, 0.7999999999999999),
 (3965, 0.7999999999999999),
 (3971, 0.7999999999999999),
 (3972, 0.7999999999999999),
 (3977, 0.7999999999999999),
 (3980, 0.7999999999999999),
 (3995, 0.7999999999999999),
 (4001, 0.7999999999999999),
 (4005, 0.7999999999999999),
 (4007, 0.7999999999999999),
 (4010, 0.7999999999999999),
 (4012, 0.7999999999999999),
 (4018, 0.7999999999999999),
 (4033, 0.7999999999999999),
 (4035, 0.7999999999999999),
 (4037, 0.7999999999999999),
 (4050, 0.7999999999999999),
 (4053, 0.7999999999999999),
 (4066, 0.7999999999999999),
 (4071, 0.7999999999999999),
 (4075, 0.7999999999999999),
 (4089, 0.7999999999999999),
 (4112, 0.7999999999999999),
 (4115, 0.7999999999999999),
 (4118, 0.7999999999999999),
 (4124, 0.7999999999999999),
 (4134, 0.7999999999999999),
 (4150, 0.7999999999999999),
 (4175, 0.7999999999999999),
 (4184, 0.7999999999999999),
 (4195, 0.7999999999999999),
 (4199, 0.7999999999999999),
 (4209, 0.7999999999999999),
 (4224, 0.7999999999999999),
 (4228, 0.7999999999999999),
 (4230, 0.7999999999999999),
 (4235, 0.7999999999999999),
 (4242, 0.7999999999999999),
 (4248, 0.7999999999999999),
 (4253, 0.7999999999999999),
 (4257, 0.7999999999999999),
 (4258, 0.7999999999999999),
 (4262, 0.7999999999999999),
 (4271, 0.7999999999999999),
 (4285, 0.7999999999999999),
 (4288, 0.7999999999999999),
 (4289, 0.7999999999999999),
 (4306, 0.7999999999999999),
 (4312, 0.7999999999999999),
 (4319, 0.7999999999999999),
 (4323, 0.7999999999999999),
 (4333, 0.7999999999999999),
 (4338, 0.7999999999999999),
 (4340, 0.7999999999999999),
 (4343, 0.7999999999999999),
 (4355, 0.7999999999999999),
 (4358, 0.7999999999999999),
 (4363, 0.7999999999999999),
 (4368, 0.7999999999999999),
 (4369, 0.7999999999999999),
 (4386, 0.7999999999999999),
 (4400, 0.7999999999999999),
 (4402, 0.7999999999999999),
 (4403, 0.7999999999999999),
 (4407, 0.7999999999999999),
 (4408, 0.7999999999999999),
 (4427, 0.7999999999999999),
 (4443, 0.7999999999999999),
 (4453, 0.7999999999999999),
 (4456, 0.7999999999999999),
 (4467, 0.7999999999999999),
 (4468, 0.7999999999999999),
 (4490, 0.7999999999999999),
 (4505, 0.7999999999999999),
 (4506, 0.7999999999999999),
 (4519, 0.7999999999999999),
 (4536, 0.7999999999999999),
 (4560, 0.7999999999999999),
 (4582, 0.7999999999999999),
 (4587, 0.7999999999999999),
 (4597, 0.7999999999999999),
 (4600, 0.7999999999999999),
 (4628, 0.7999999999999999),
 (4631, 0.7999999999999999),
 (4644, 0.7999999999999999),
 (4649, 0.7999999999999999),
 (4658, 0.7999999999999999),
 (4659, 0.7999999999999999),
 (4664, 0.7999999999999999),
 (4675, 0.7999999999999999),
 (4681, 0.7999999999999999),
 (4684, 0.7999999999999999),
 (4688, 0.7999999999999999),
 (4692, 0.7999999999999999),
 (4696, 0.7999999999999999),
 (4700, 0.7999999999999999),
 (4703, 0.7999999999999999),
 (4738, 0.7999999999999999),
 (4741, 0.7999999999999999),
 (4744, 0.7999999999999999),
 (4746, 0.7999999999999999),
 (4758, 0.7999999999999999),
 (4767, 0.7999999999999999),
 (4776, 0.7999999999999999),
 (4781, 0.7999999999999999),
 (4797, 0.7999999999999999),
 (4802, 0.7999999999999999),
 (4830, 0.7999999999999999),
 (4838, 0.7999999999999999),
 (4839, 0.7999999999999999),
 (4840, 0.7999999999999999),
 (4847, 0.7999999999999999),
 (4896, 0.7999999999999999),
 (4901, 0.7999999999999999),
 (4907, 0.7999999999999999),
 (4909, 0.7999999999999999),
 (4911, 0.7999999999999999),
 (4947, 0.7999999999999999),
 (4951, 0.7999999999999999),
 (4952, 0.7999999999999999),
 (4953, 0.7999999999999999),
 (4967, 0.7999999999999999),
 (4977, 0.7999999999999999),
 (4981, 0.7999999999999999),
 (4985, 0.7999999999999999),
 (5003, 0.7999999999999999),
 (5015, 0.7999999999999999),
 (5028, 0.7999999999999999),
 (5033, 0.7999999999999999),
 (5046, 0.7999999999999999),
 (5051, 0.7999999999999999),
 (5060, 0.7999999999999999),
 (5066, 0.7999999999999999),
 (5077, 0.7999999999999999),
 (5104, 0.7999999999999999),
 (5106, 0.7999999999999999),
 (5114, 0.7999999999999999),
 (5115, 0.7999999999999999),
 (5130, 0.7999999999999999),
 (5148, 0.7999999999999999),
 (5164, 0.7999999999999999),
 (5183, 0.7999999999999999),
 (5190, 0.7999999999999999),
 (5192, 0.7999999999999999),
 (5222, 0.7999999999999999),
 (5223, 0.7999999999999999),
 (5234, 0.7999999999999999),
 (5240, 0.7999999999999999),
 (5243, 0.7999999999999999),
 (5268, 0.7999999999999999),
 (5270, 0.7999999999999999),
 (5274, 0.7999999999999999),
 (5287, 0.7999999999999999),
 (5288, 0.7999999999999999),
 (5297, 0.7999999999999999),
 (5329, 0.7999999999999999),
 (5335, 0.7999999999999999),
 (5337, 0.7999999999999999),
 (5340, 0.7999999999999999),
 (5342, 0.7999999999999999),
 (5343, 0.7999999999999999),
 (5358, 0.7999999999999999),
 (5378, 0.7999999999999999),
 (5380, 0.7999999999999999),
 (5393, 0.7999999999999999),
 (5402, 0.7999999999999999),
 (5432, 0.7999999999999999),
 (5434, 0.7999999999999999),
 (5455, 0.7999999999999999),
 (5457, 0.7999999999999999),
 (5463, 0.7999999999999999),
 (5467, 0.7999999999999999),
 (5472, 0.7999999999999999),
 (5485, 0.7999999999999999),
 (5499, 0.7999999999999999),
 (5517, 0.7999999999999999),
 (5529, 0.7999999999999999),
 (5532, 0.7999999999999999),
 (5591, 0.7999999999999999),
 (5597, 0.7999999999999999),
 (5608, 0.7999999999999999),
 (5609, 0.7999999999999999),
 (5635, 0.7999999999999999),
 (5638, 0.7999999999999999),
 (5657, 0.7999999999999999),
 (5660, 0.7999999999999999),
 (5667, 0.7999999999999999),
 (5689, 0.7999999999999999),
 (5695, 0.7999999999999999),
 (5705, 0.7999999999999999),
 (5719, 0.7999999999999999),
 (5720, 0.7999999999999999),
 (5731, 0.7999999999999999),
 (5732, 0.7999999999999999),

In [27]:
## Berikut ini merupakan 5 mobil rekomendasi bagi customer tersebut

a = []
for i in mobil[:6]:
    a.append(data1.iloc[i[0]])
a = pd.DataFrame(a)
a = a.drop(Cust)
a

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Merk,tahun,Recom
85,Honda City i VTEC E,Delhi,2009,52000,Petrol,Manual,First,17.8 kmpl,1497 CC,117.3 bhp,5.0,3.25,Honda,lama,Honda Petrol Manual First lama
114,Honda Civic 2006-2010 1.8 V MT,Delhi,2010,71088,Petrol,Manual,First,13.5 kmpl,1799 CC,130 bhp,5.0,3.35,Honda,lama,Honda Petrol Manual First lama
194,Honda City 1.5 GXI,Ahmedabad,2007,60006,Petrol,Manual,First,0.0 kmpl,NaN,NaN,NaN,2.95,Honda,lama,Honda Petrol Manual First lama
237,Honda City i-VTEC V,Kolkata,2011,32572,Petrol,Manual,First,17.4 kmpl,1497 CC,117.3 bhp,5.0,3.87,Honda,lama,Honda Petrol Manual First lama
281,Honda City 1.5 S MT,Jaipur,2011,55000,Petrol,Manual,First,17.0 kmpl,1497 CC,118 bhp,5.0,4.21,Honda,lama,Honda Petrol Manual First lama